.footer {
    background-color: #683181;
    position: fixed;
    width: 100%;
    height: 50px;
    bottom: 0;
    color: white;
    font-size: 20px;
    font-family: courier, courier new, serif;
    padding-left: 50px;
    display: flex;
    align-items: center;
}

img {
    margin-left: 5%;
    margin-right: auto;
}