.welcome-title {
    color: #334993;
    font-size: 120px;
    font-family: "GaretBook";
    padding-top: 10vh;
    text-align: left;
    padding-left: 10%;
}

.button-div {
    padding-left: 12%;
    padding-top: 5%;
}

.button-tool {
    background-color: #0f6768;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 25px;
}